<div style="width: 513px;height: 122px;border: 3px solid {{ border_color }};background-color: {{ background_color }};border-radius: 10px;display: table;box-sizing: content-box;"><div style="width: 74px;text-align: center;vertical-align: middle;padding-left: 49px;display: table-cell;box-sizing: content-box;">{%if image.mode == 'dynamic'%}
<img style="width: 74px;height: 74px;border: 3px solid {{ border_color }};border-radius: 50%;box-sizing: content-box;" width="74" height="74" src="{{ image.url }}" alt="{{ image.alt }}"></img>
{% elsif image.mode == 'static' %}
<img style="width: {{ image.width }}px;height: auto;max-width: 100%;" width="{{ image.width }}" src="{{ image.url }}" alt="{{ image.alt }}"></img>
{% endif %}
</div>
<div style="text-align: left;vertical-align: middle;display: table-cell;padding: 0 46px;box-sizing: content-box;"><p style="font-family: Appetite;font-size: 22px;font-weight: bold;margin: 0 0 5px 0;color: {{ title.color }};">{{ title.text[language] }}</p>
<p style="font-family: PT Sans;font-size: 11px;margin: 0 0 5px 0;color: {{ paragraph.color }};">{{ paragraph.text[language] }}</p>
</div>
</div>
