:ruby
  options[:component] ||= 'template_1_content'


- content_for :foot do
  = javascript_include_tag 'jquery/dist/jquery.min.js'
  = javascript_include_tag 'liquid.js/dist/liquid.min.js'

  :coffee
    result =
      Liquid
        .parse $('#liquid_body')[0].innerHTML
        .render #{options[:content].to_json}

    $ 'body'
      .append $(result)


%script#liquid_body{type: 'text/liquid'}
  = component "pages/#{options[:component]}"
