;;;
"name":             "1: анонс акции",
"group":            "Buzzaar Little Devils",
"layout":           "buzzaar",
"header_text":      "новая акция",
"unsubscribe_link": "asdf"
;;;

- content_for :sidebar do

  = component :a, href: 'http://hell-o-baby.com/' do
    = component :img,
                style_obj: { width: '100%' },
                url: 'ava.gif'

  = component :spacer,
              style_obj: { height: '17px' }

  = component :a, href: 'http://hell-o-baby.com/' do
    = component :img,
                px_width:  80,
                px_height: 63,
                url: 'logo.gif'



- content_for :footer do

  = component :img,
                url: 'dots.gif',
                style_obj: { width: '100%' }

  = component :text,
              style_obj: { color:     '#626262',
                           font_size: '10px',
                           margin_top: '4px' } do
    %strong Место проведения:
    все города Мира
    %br
    %strong Период проведения:
    15 ноября – 15 декабря

= wrap_layout :buzzaar_inner do

  = component :p  do
    Мы рады сообщить вам о новом конкурсе от Buzzaar!


  = component :p, style_obj: { color: '#2a2929' } do
    У вас вновь появилась возможность стать лидером мнений, чтобы первым попробовать новинку и получить подарок от сервиса Hell’o Baby!


  = component :spacer,
              style_obj: { height: '17px' }

  = component :heading do
    Stories of little devils

  = component :a, href: 'http://hell-o-baby.com/' do
    = component :img,
                url: 'preview.png',
                style_obj: { width: '100%' }

  = component :spacer,
              style_obj: { height: '21px' }

  = component :text,
              style_obj: { font_size: '17px'} do
    Участвуйте в&nbsp;конкурсе – покажите всем, на&nbsp;что способен ваш&nbsp;малыш, и&nbsp;станьте победителем!

  = component :spacer,
              style_obj: { height: '26px' }

  = component :a, href: 'http://buzzaar.eu/ru/hellobaby/' do
    = component :img,
                url: 'stranica_konkursa.gif',
                style_obj: { width: '100%' }

  = component :spacer,
              style_obj: { height: '42px' }